.sale-flash {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 6px 10px;
	background-color: #1ABC9C;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	/* z-index: 5; */
	z-index:0;
}

.product {
	position: relative;
}



.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.product-image {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}



.product-image > a,
.product-image .slide a,
.product-image img {
	display: block;
	width: 100%;
	height: 100%;
}

/* .product-image > a:nth-of-type(2) {
	opacity: 0;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
} */

/* .product-image:hover > a:nth-of-type(2) {
	opacity: 1;
	z-index: 2;
} */

/* .product-image:hover > a:nth-of-type(2) {
	opacity: 1;
	z-index: 2;
} */

.product-overlay {
	position: absolute;
	width: 100%;
	height: 44px;
	line-height: 44px;
	top: auto;
	bottom: -44px;
	left: 0;
	z-index: 6;
	overflow: hidden;
}

.product:hover .product-overlay { bottom: 0; }

.product-overlay a {
	display: block;
	float: left;
	width: 50%;
	font-size: 13px;
	color: #333;
	background-color: #F5F5F5;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.1);
}

body:not(.device-touch):not(.device-xs):not(.device-xxs) .product-overlay a {
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.product-overlay a.item-quick-view { border-right: 0; }

.product-overlay a i {
	position: relative;
	top: 1px;
	font-size: 14px;
	margin-right: 3px;
}

.product-overlay a:hover {
	background-color: #333;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.single-product .add-to-cart.button {
	height: 40px;
	line-height: 40px;
}

.icon-bookmark2:before {
	content: "\e6e7";
}

.product-overlay a.item-quick-view { border-right: 0; }

.icon-zoom-in2:before {
	content: "\e6ca";
}

.product-desc {
	padding: 15px 0;
	font-size: 14px;
}

.product-title { margin-bottom: 7px; }

.product-title h3 {
	margin: 0;
	font-size: 20px;
}

.product-title h3 a,
.single-product .product-title h2 a { color: #333; }

.product-title h3 a:hover,
.single-product .product-title h2 a:hover { color: #1ABC9C; }

.single-product .product-title h2 {
	font-size: 28px;
	margin-bottom: 8px;
}

.product-price {
	font-size: 18px;
	font-weight: 600;
	color: #444;
	margin-bottom: 4px;
}

.product-price del {
	font-weight: 400;
	font-size: 90%;
	color: #888;
}

.product-price ins {
	text-decoration: none;
	color: #1ABC9C;
}

.single-product .product-price {
	float: left;
	font-size: 24px;
	color: #1ABC9C;
	margin-bottom: 0;
}

.single-product .product-rating {
	float: right;
	position: relative;
	top: 9px;
}

.product img {
    height: 330px;
    width: 270px;
}